<div data-role="collapsible" data-content-theme="c" class="<%= venue.id %>">
  <% if venue.name.nil? %>
    <%= content_tag(:h3, "No search results") %>
  <% else %>
    <%= content_tag(:h3, venue.name) %>
  <% end %>

  <%= content_tag(:p, "Searched for #{venue.search}") if venue.search %>

  <%= content_tag(:p, "Spell checked to #{venue.spell_check}") if venue.spell_check %>
  
  <%= content_tag(:p, "Address: #{venue.address}" if venue.address)%>

  <%= content_tag(:p, "New Beers(#{venue.new_beers.count}):" ) if venue.new_beers %>
  <div data-role="collapsible-set" class="<%= venue.id %>_beers_nothad">
    <%= render venue.new_beers if venue.new_beers %>
  </div>

  <%= content_tag(:p, "Old Beers(#{venue.new_beers.count}):" ) %>
  <div data-role="collapsible-set" class="<%= venue.id %>_beers_had">
    <%= render venue.old_beers if venue.old_beers %>
  </div>
</div>