<title>Sign in!</title>
<h1>Sign in</h1>

<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for :untappd_info do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p><%= link_to "Not an Untappd user?", "http://untappd.com/create" %></p>
  </div>
</div>