<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  <title>NewBeer4Me</title>
</head>
<body>
  <% if yield(:title) == "Sign In"%>
    <div data-role="page" data-url='/signin'>
  <% elsif yield(:title) == "Search"%>
    <div data-role="page" data-url='/'>
  <% elsif yield(:title) == "Settings"%>
    <div data-role="page" data-url='/settings'>
  <% end %>
    <%= render 'layouts/header'%>
    <div data-role="content">
      <%= yield %>
      <%= render 'layouts/debug' if Rails.env.development? %>
      <%= debug(params) if Rails.env.development? && params%>
    </div>
    
    <div data-role="footer">
      <h6></h6>
    </div>
  </div>
</body>
</html>
